@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    font-size: 10px;
}


/* Common container style */
.container {
    display: flex;
    margin-bottom: 20px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 6px;
  }
  
  /* Box style */
  .box {
    flex: 1;
    margin: 5px;
    padding: 10px;
    text-align: center;
    color: white;
    border-radius: 6px;
  }
  
  /* Box colors */
  .box1 { background-color: #fb923c; }
  .box2 { background-color: #84cc16; }
  .box3 { background-color: #3b82f6; }
  
  /* Flex Direction Variants */
  .flex-row { flex-direction: row; }
  .flex-row-reverse { flex-direction: row-reverse; }
  .flex-column { flex-direction: column; }
  .flex-column-reverse { flex-direction: column-reverse; }
  
  /* Justify Content Variants */
  .justify-start { justify-content: flex-start; }
  .justify-center { justify-content: center; }
  .justify-between { justify-content: space-between; }
  .justify-around { justify-content: space-around; }
  
  /* Align Items Variants */
  .align-start { align-items: flex-start; height: 150px; }
  .align-center { align-items: center; height: 150px; }
  .align-stretch { align-items: stretch; height: 150px; }
  
  /* Flex Wrap Variants */
  .nowrap { flex-wrap: nowrap; }
  .wrap { flex-wrap: wrap; }
  .wrap-reverse { flex-wrap: wrap-reverse; }
  
  /* Align Content Variants */
  .align-content-start { flex-wrap: wrap; align-content: flex-start; height: 300px; }
  .align-content-center { flex-wrap: wrap; align-content: center; height: 300px; }
  .align-content-between { flex-wrap: wrap; align-content: space-between; height: 300px; }
  
  /* Flex Grow Variants */
  .flex-grow .grow1 { flex-grow: 1; }
  .flex-grow .grow2 { flex-grow: 2; }
  .flex-grow .grow3 { flex-grow: 3; }
  
  /* Flex Shrink Variants */
  .flex-shrink .shrink1 { flex-shrink: 1; width: 300px; }
  .flex-shrink .shrink2 { flex-shrink: 2; width: 300px; }
  .flex-shrink .shrink3 { flex-shrink: 3; width: 300px; }
  
  /* Flex Basis Variants */
  .flex-basis .basis100 { flex-basis: 100px; }
  .flex-basis .basis200 { flex-basis: 200px; }
  .flex-basis .basis300 { flex-basis: 300px; }
  
  /* Order Variants */
  .order .order1 { order: 1; }
  .order .order2 { order: 2; }
  .order .order3 { order: 3; }
  